### Gradle template
.gradle
build/
classes/
out/
**/target/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea
*.iml

# Jenv
.version
.java-version

# MAC OS
.DS_Store
